###################################
Welcome to Colvert's documentation!
###################################

.. attention::
   **This documentation is a work in progress.** Please consider that some parts may be incomplete or contain mistakes.

**Colvert** is a tool made for cybersecurity teams (CSIRTs / SOCs) and designed to manage their portfolio of *detection use cases* through their entire lifecycle in the context of **Information Security Event Management**.

Go to the main repository https://github.com/colvert-project/colvert for an overview of the tool.

* **Website:** https://colvert.io/
* **Contact:** contact@colvert.io

.. seealso::
   * **Last Release:** https://github.com/colvert-project/colvert/releases/latest
   * **Packages:** https://github.com/orgs/colvert-project/packages
   * **Discussions:** https://github.com/orgs/colvert-project/discussions
   * **Issues Tracker:** https://github.com/colvert-project/colvert/issues
   
   * **Security Policy:** https://github.com/colvert-project/colvert/security/policy
   * **Security Advisories:** https://github.com/colvert-project/colvert/security/advisories

.. admonition:: Contributing

   * `How to contribute? <https://github.com/colvert-project/colvert/blob/main/CONTRIBUTING.md>`_
   * `Colvert Contributor Code of Conduct <https://github.com/colvert-project/colvert?tab=coc-ov-file>`_

.. admonition:: Licence

   Licensed under the EUPL, Version 1.2 only (the "Licence");
   You may not use this work except in compliance with the Licence.
   You may obtain a copy of the Licence, available in the 23 official
   languages of the European Union, at:
   https://joinup.ec.europa.eu/collection/eupl/eupl-text-eupl-12

Table of Contents
*****************

* `Home <index.html>`_

.. toctree::
   :caption: Usage Guide
   :maxdepth: 3

   USAGE_Getting_Started.rst
   USAGE_User_Guide.rst

.. toctree::
   :caption: Developer Documentation
   :maxdepth: 3

   DEV_General.rst
   DEV_Architecture.rst
   DEV_Model.rst
   Docstrings <https://docs.colvert.io/>
   DEV_Credits.rst

.. toctree::
   :caption: Connectors Documentation
   :maxdepth: 3

   CONN_Architecture.rst
   CONN_How_to_Build.rst
   {% for file in connectors_docs_files %}
      {{ file }}
   {% endfor %}

.. toctree::
   :caption: About
   :maxdepth: 3

   Changelog <https://github.com/colvert-project/colvert/releases>
   colvert.io <https://colvert.io/>
