###################################
Welcome to Colvert's documentation!
###################################

**Colvert** is a tool made for cybersecurity teams (CSIRTs / SOCs) and designed to manage their portfolio of *detection use cases* through their entire lifecycle in the context of **Information Security Event Management**.

.. admonition:: Presentation

   Go to the main repository https://github.com/colvert-project/colvert for an overview of the tool.

   * Website: `colvert.io <https://colvert.io/>`_
   * Contact: contact@colvert.io

.. seealso::

   * **Packages:** https://github.com/orgs/colvert-project/packages
   * **Discussions:** https://github.com/orgs/colvert-project/discussions
   * **Issues Tracker:** https://github.com/colvert-project/colvert/issues

   * **Security Policy:** https://github.com/colvert-project/colvert/security/policy
   * **Security Advisories:** https://github.com/colvert-project/colvert/security/advisories

Contributing
============

How to contribute? `See here. <https://github.com/colvert-project/colvert/blob/main/CONTRIBUTING.md>`_

.. seealso::

   `Colvert Contributor Code of Conduct <https://github.com/colvert-project/colvert/blob/main/CODE_OF_CONDUCT.md>`_

Table of Contents
=================

.. toctree::
   Home <index>

.. toctree::
   :caption: Usage Guide
   :maxdepth: 3

   Getting-Started.md

.. toctree::
   :caption: Connectors Documentation
   :maxdepth: 3

   Connectors.md
   {% for file in connectors_docs_files %}
      {{ file }}
   {% endfor %}

.. toctree::
   :caption: Developer Documentation
   :maxdepth: 3

   Dev-General.md
   Software-Architecture.md
   How-to-Build-Connectors.md
   Credits.md

.. toctree::
   :caption: Core System Docstrings
   :maxdepth: 3

   Docstrings :ref:`modindex`
   _generated/modules

.. toctree::
   :caption: About
   :maxdepth: 3

   Changelog <https://github.com/colvert-project/colvert/releases>
   colvert.io <https://colvert.io>
