###################################
Welcome to Colvert's documentation!
###################################

**Colvert** is a tool made for cybersecurity teams (CSIRTs / SOCs) and designed to manage their portfolio of *detection use cases* through their entire lifecycle in the context of **Information Security Event Management**.

Presentation
============

The tool consists of:

* The main application.
* Connectors to potentially get data from providers and contextual more-valued information.

Go to the main repository https://github.com/colvert-project/colvert for an overview of the tool.

* Website: https://colvert.io
* Contact: contact@colvert.io

Interesting Places
==================

* **Packages:** https://github.com/orgs/colvert-project/packages
* **Discussions:** https://github.com/orgs/colvert-project/discussions
* **Issues Tracker:** https://github.com/colvert-project/colvert/issues

* **Security Policy:** https://github.com/colvert-project/colvert/security/policy
* **Security Advisories:** https://github.com/colvert-project/colvert/security/advisories

Contributing
============

* How to contribute? 
https://github.com/colvert-project/colvert/blob/main/CONTRIBUTING.md

* Colvert Contributor Code of Conduct: 
https://github.com/colvert-project/colvert/blob/main/CODE_OF_CONDUCT.md

:tocdepth: 3

.. toctree::
   :caption: Usage Guide

   Getting-Started.md

.. toctree::
   :caption: Connectors Documentation

   Connectors.md
   {% for connector in connectors %}
      {{ connector }}
   {% endfor %}

.. toctree::
   :caption: Developer Documentation

   Dev-General.md
   Software-Architecture.md
   How-to-Build-Connectors.md
   Credits.md

.. toctree::
   :caption: Core System Docstrings

   _generated/modules

.. toctree::
   :caption: About

   Changelog <https://github.com/colvert-project/colvert/releases>
   colvert.io <https://colvert.io>

Indices
=======

* :ref:`genindex`
* :ref:`modindex`
